.card-popup_card_progress-bar {
    
}

.unity-progress-bar__container{
    background-color: rgba(46, 78, 136, 255);
}

.unity-progress-bar__background{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    color: rgba(46, 78, 136, 255);
}

.unity-progress-bar__progress{
    margin: -0.5px;
    border-radius: 13px;
}

.unity-progress-bar{
    height: 100px;
}

.unity-progress-bar__title-container{
    
}
